@model List<BookCatalog.Models.Author>

@{
    ViewData["Title"] = "Автори";
}

<section class="authors-section">
    <h2>Известни автори</h2>
    @foreach (var author in Model)
    {
        <div class="author-container">
            <img src="@Url.Content(author.ImagePath)" alt="@author.Name">
            <div class="author-info">
                <h3>@author.Name</h3>
                <p>@author.Bio</p>

                <a href="@Url.Action("Details", "Author", new { id = author.AuthorId })" class="btn btn-primary">
                    Вижте
                </a>
            </div>
        </div>
    }

</section>